<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
		<title>Page test</title>
	</head>
	<body>
		<div id="headbarre"></div>
		<div id="layout">
			<h1 class="title_h">Funkywork</h1>
			<div id="metro">
				<div class="button"><h3>Articles</h3></div>
				<div class="button"><h3>Séries</h3></div>
				<div class="button"><h3>Code</h3></div>
				<div class="button"><h3>Acteurs</h3></div>
				<div class="button"><h3>À propos</h3></div>
				<div class="button"><h3>Relais</h3></div>
				<hr />
			</div>
			
			<div id="footer">Funkywork a été propulsé par <a href="https://github.com/Funkywork/Funkywork">Funkywork</a></div>
			
		</div>
	</body>
</html>