<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="CSS/googlecode.css">
		<script src="JS/highlight.pack.js"></script>
		<script type="text/javascript">
			hljs.tabReplace = '    ';
			hljs.initHighlightingOnLoad();
		</script>
		<title>Page test</title>
	</head>
	<body>
		<div id="headbarre"></div>
		<div id="layout">
			<div class="fil">	
				<:ariane:>
			</div>
			<h3 class="paper_date"><:date:></h3>
			<h1 class="paper_title_h"><:title:></h1>
			<h2 class="paper_subtitle_h"><:author:></h2>
			<div id="paper">
				<:content:>
				<hr />
				<:comments:>
			</div>
			
			<div id="footer">Funkywork a été propulsé par <a href="https://github.com/Funkywork/Funkywork">Funkywork</a></div>
			
		</div>
	</body>
</html>